.span{
    padding: 5%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.signup_btn:hover{
    color: whitesmoke;
    text-decoration: none;
    font-style: normal;
}




.img_principal{
    object-fit: cover;
    padding: 0.5%;
    object-position: 0 10%;
    height: 520px;
}

.rodape{
    padding: 3%;
   
}


.botaologin{
    text: center;
}


    background-image: url("/static/dentista.jpeg");

